/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */

body {
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
    /* form inputs should be 24px */
    font-size: 24px; 
}

main {
    width: 50rem;
    height: 20rem;
    margin: 16rem auto 0 auto;
    padding: 3.2rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2.6rem;
    box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.1);
    display: flex;
}

.logo {
    width: 8rem;
    display: none;
}

form {
    width: 50%;
}

.cheque {
    background-color: hsl(183, 100%, 15%);
    width: 50%;
}